<!DOCTYPE html>
<html lang="en-US" prefix="dcterms: http://purl.org/dc/terms/ http: http://www.w3.org/2011/http#">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="dcterms:available" content="<%= available %>">
    <meta property="dcterms:modified" content="<%= modified %>">
    <title>status-cod.es</title>
  </head>
  <body>
    <noscript>
        <strong>Sorry, you need to enable JavaScript to run this app.</strong>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
